<%= bootstrap_form_for (@referal), remote: true  do |f| %>
 <%= f.text_field :name,  :class => 'form-control' %>
 <%= f.text_field :institution, :class => 'form-control' %>
 <%= f.text_area :reference, :class => 'form-control' %>
 <br>
 <div class="actions">
  <%= f.submit %>
 </div>
<% end %>
