<div class="navbar navbar-inverse navbar-fixed-top opaque-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain">
        <span class="glyphicon glyphicon-chevron-right" style="color:white;"></span>

      </button>
      <% begin %>
      <% if current_user.superadmin_role? %>
      <a class="navbar-brand" href="/admin">Dashboard</a>
    <% else %>
      <p  class="navbar-brand">Mohammed Sharif</p>
      <% end %>
      <% rescue %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="navMain">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href="#" id="projects">Projects</a>
        </li>
        <li>
          <a href="#" id="blog">Blogs</a>
          <% if signed_in? %>

          <li><%= link_to "Sign Out", destroy_user_session_path,  :method => :delete %></li>
        <% else %>
          <li><%= link_to "Sign In/Sign Up", new_user_session_path %>
          <% end %></li>
        </li>
      </ul>
    </div>

</div>
  </div>
<div class="page1">
  <div class="container-fluid">
    <div class="wrapper">
      <div class="main">
        <div class="header">
          <h1>Mohammed Shariff</h1>
          <h2 style="font-size:23px">Full Stack Web Developer</h2>
          <em><h3 style="color:#969191;">“I just invent. Then I wait until man comes around to needing what I've invented.” - Richard Buckminster Fuller</h3></em>
          <h3 style=" color:white;text-align:center">Hey, Welcome to my portfolio, I am a Ruby on Rails <br>Developer based in Nairobi, Kenya, If I'm not programming, I'm <br>thinking about it, Why Programming? It makes me a creator, it <br>makes me an inventor, it turns Imagination to Reality, Its perfect!</h3>
          <div class="btns" style="margin-right:10px"></div>
        </div>

        <div class="page-container">
          <div class="sidemenu">
            <nav class="left">
              <h2 style="font-size:35px; color:black;">My Contacts</h2>
            </nav>
            <nav class="right">
              <h3 style="color:#ffffff;">Email</h3>
              <p style="color:#ffffff">shariff.mohammed.a@gmail.com</p>
            </h3>
            <h3 style="color:#ffffff;">Phone</h3>
            <p style="color:#ffffff;">+254712345678</p>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="page2">
  <div class="container-fluid">
    <div class="wrapper">
      <h1>Who Am I</h1>
    </div>
  </div>
</div>
<!-- <div class="page2" style="height:50%">
  <div class="row">
    <h2 style="font-size:30px; text-decoration:overline">About Me</h2>

    </div>
  </div>
</div>
<div class="page2">
<div class="container-fluid">
  <div class="row projects">
    <% @projects.each do |project| %>
    <div class="row">
      <h2 style="font-size:30px"><%= project.title %>s</h2>
      <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
        <img class="projectImage" src="<%= project.image %>" alt="" style="width:100%;">
      </div>
      <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
        <h2>Application description</h2>
        <p><%= project.description %></p>
        <h2>Try it Out</h2>
        <a href="<%= project.link %>"><%= project.title %></a>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
        <h2>Technologies Used</h2>
        <%= project.technology %>
      </div>
    </div>
    <hr>
    <%end%>
  </div>
</div>
</div>
<div class="page3" style="background-color:#bcbcbc; height:90%">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
      <div class="container-fluid">
        <h2 style="  font-size:30px; text-decoration:overline ">Blogs</h2>
        <div id="blogs"><%= render 'blogs' %></div>
      </div>
    </div>
    <div class="col-md-3">

    </div>

  </div>
</div>
<div class="page4" style="height:40%">
  <h2 style="  font-size:30px; text-decoration:overline;">Referals</h2>
</div> -->
