<h1>Add a New Project</h1>

<div class="form-inline">
  <%= bootstrap_form_for(@project) do |f| %>
    <%= f.text_field :title ,  :class => 'form-control' %>
    <%= f.text_field :technology, :class => 'form-control' %>
    <%= f.text_field :link, :class => 'form-control' %>
    <%= f.text_area :description, :class => 'form-control' %>
    <%= f.text_field :image,:class => 'form-control' %>
    <br>
    <%= f.submit %>
  <% end %>
</div>
