<h1><%= @project.title %></h1>
<img src="<%= @project.image %>" alt="" style="width:50%">
<h2>Description</h2>
<p><%=@project.description%></p>
<h2>Technology Used</h2>
<p><%=@project.technology%></p>
<h2>Link</h2>
<a href="<%=@project.link%>"><%=@project.title%></a>
<br>
<button class="btn btn-danger"><%= link_to "Delete Project", project_path(@project),  :data => {:confirm => "Are you sure?",:method => "delete"} %>
