<% @projects.each do |project| %>
<h2><%= project.title %></h2>
<h2>ScreenShot</h2>
<img src="https://lh3.googleusercontent.com/nEbmvbVorFKWd7sAmwVylg8V_Uo0RfLiP33J0a1Yjs2_cnxauYllMtSJZYjWYt1_xbTBfqR6pDJ0Oc0wtc1W3aegRFpVnTUo8OAw90OE0tcnMks93Fryc6EYHMLLpBkUFftDOt7klino8YadoXmkrUs0lu4Zi6E4V171cxMzJDd_c1HOYEkY9QS9nvLqyIk9E_k5qSJTlXYucxel_VlpBBI0Qxhh67s0mMJTWIGObKV3MdMmERSjbPuiQlWXUHZV82Ai7z9gfzLzOOZ4BU_Eal2mxUuVNc3gEMbfy_PGXW2yQzhaA0nY8wa2vU3wMTOBS8hOZtwfXOA7ltg0IoBIjZkvBxSeG0qvs1L6a3Xx7P-LEIp9QP1B7cBbsyJNwlTwveQT67P1NG7-jNbCXZoZiO1xdKxNrOapU_IS58vlRcjX6utn9_LQ5-WfLk5Jtw8J8JqqWGtXdqxN-v7ICbPT24aUQOj5HXkoOAQNMekqzpkSvPcDGil1wTFty4-yPfWNiuneVh9l2XHQEpk99kz3r7QigmHVQ1he6oOgkD_KaNZLqyyJn1qGQQONuzMxVsb1-1zFxYdsNoYXFy510J200rpuNCkc1l7i5hiYkuQq-aikAGz6VtE=w659-h990-no" alt="" style="height:20%">
<h2>Description</h2>
<p><%= project.description %></p>
<h2>Technologies Used</h2>
<p><%= project.technology %></p>
<h2>Link to Project</h2>
<a href="<%= project.link %>"><%= project.title %></a>
<% end %>
<br>
<div class="delete" style="margin-top:20%">
<%= link_to "Delete Project", project_path(@project),:data => {:confirm => "Are you sure?", :method => "delete",} %>
</div>
