<% @projects.each do |project| %>
<h2><%= project.title %></h2>
<h2>ScreenShot</h2>
<img src="<%= project.image %>" alt="" style="height:20%">
<h2>Description</h2>
<p><%= project.description %></p>
<h2>Technologies Used</h2>
<p><%= project.technology %></p>
<h2>Link to Project</h2>
<a href="<%= project.link %>"><%= project.title %></a>
<% end %>
<br>
<div class="delete" style="margin-top:20%">
<%= link_to "Delete Project", project_path(@project),:data => {:confirm => "Are you sure?", :method => "delete",} %>
</div>
